# Local .vscode configurations
.vscode

# React Native Node Modules
TaskApp/node_modules
TaskApp/node_modules/**/*

# React Native Expo/Expo-CLI
TaskApp/expo/*
TaskApp/.expo
TaskApp/.expo/*
TaskApp/.expo/packager-info.json
TaskApp/.expo-shared

# Logs
*.log

# Web Build
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
