# React Native Node Modules
TaskApp/node_modules

TaskApp/node_modules/**/*
TaskApp/expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Kip's Design Iteration Templates
./IdeateTemplates
TaskApp/package-lock.json
